# Python Basics
#### Prepared by: Dr Abdulkarim M. Jamal Kanaan Jebna
<hr>

in this tutorial will work on <code>Python</code>. we will discover some functions and get familiar with python

this is considered as an brief introduction to <code>python</code>

## Hello Worlld!

In [4]:
print("hello, world!")

hello, world!

### Writing Comments
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
Use the symbol <code>#</code> to add comments in a python script
</div>

In [5]:
print("Hello, Python!") # print text to the screen

Hello, Python!

### Exercise: Your First Program

in the cell below, use the function <code>print</code> to ***(1)*** print the message <code>Hello to UCCB3224</code> and ***(2)*** add comment beside the python script with the statement <code>Print welcoming to the UCCB3224 course</code>

In [6]:
# write code in here; after finishing press shift+enter to execute the python code

<hr>
<h2 id="types_objects" align="center">Types of objects in Python</h2>

most common types in python are: strings, floats, integers

In [7]:
# string
"Hello, World!"

'Hello, World!'

In [8]:
# float
3.14

3.14

In [9]:
# integer
2022

2022

<br>
You can use the function <code>type</code> to inform you about the type of the object you are handling

In [10]:
# string
type("Hello, World!")

str

In [11]:
# float
type(3.14)

float

In [12]:
# integer
type(2022)

int

<br>

### Exercise: Use <code>type()</code> Function
use the function <code>type</code> to check on the type of <code>10.0</code>

In [13]:
# insert your code here

<details><summary>Click here for the solution</summary>


</details>

<hr>

## Integers
integer values are the values that have no fractions such as 1, 2, 3, 4. Integer values can be positive or negative

In [14]:
#
print(1)
print(2)
print(-1)
print(-2)

1
2
-1
-2

to verify that negative values are integers we use <code>type()</code> as follow

In [15]:
type(-1)

int

In [16]:
type(-2)

int

<br>

## Floats
floats are real values that contain fractions unlike integer values. e.g., 2.4, 3.14, ... etc

to get more information about float such as the maximum value, you can use <code>float_info</code> in the package <code>sys</code>

In [17]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

you can use <code>type()</code> to check on float values as follow

In [18]:
type(2.4)

float

In [19]:
type(3.14)

float

<br>

### Conversion between different object types

conversion is used when you  need to convert between one type in Python to another. For example, convert from integer to float

In [20]:
# convert from integer to float

float(2)

2.0

In [21]:
# convert and check data type

type(float(2))

float

In [22]:
# convert from float to integer

int(2.0)

2

In [23]:
type(int(2.0))

int

In [24]:
# convert from string to int

int("1")

1

In [25]:
# this will procude an error

int("1 one")

ValueError: invalid literal for int() with base 10: '1 one'

In [27]:
# convert from integer/float to string

str(1)

'1'

In [28]:
# convert from float to string

str(2.0)

'2.0'

<br>

### Boolean Types
boolean is a data type where the value is either <code>True</code> or <code>False</code>

In [29]:
True

True

In [30]:
type(True)

bool

In [31]:
# convert boolean to integer
int(True)

1

In [32]:
# convert 1 to boolean
bool(1)

True

In [33]:
# convert 0 to boolean
bool(0)

False

<br>

### Exercise: Data Types

What is the data type of the calculation 10/2

In [34]:
# write your code in here

<br>
What is the data type of the calculation <code>10//2</code>?

In [35]:
# write your code in here

<hr>

## Expressions and Variables

In [36]:
# expression

3 + 4 -2 * 10

-13

In [37]:
# division

10 / 3

3.3333333333333335

In [38]:
# division with error

10 / 0

ZeroDivisionError: division by zero

In [39]:
# integer division

10 // 3

3

<br>

### Exercise of Expressions

Find out how many hours are there in 200 minutes

In [40]:
# write your code in here

<br>

if we know that an hour has the expression: 60\*60 seconds, find out how many hours are there in 200 minutes using the expression

In [41]:
# write your code in here
200*60//(60*60)

3

### Variables

In [42]:
x = 60*60
x

3600

In [43]:
# save the result to another variable
y = x // 2
y

1800

<br>

### Exercise
what is the value of <code>x</code> for the operation <code> 3 + 4 - 1 </code>

In [44]:
# write code in here

What is the output of <code>y</code> for the operation <code>y = 4 // 2</code>

In [45]:
# write code in here

What is the output of <code>z</code> for the operationo <code>z = x / y</code>

In [46]:
# write code in here

<hr>

### <code>Math</code> module
it provides many functionalities to try

In [47]:
# import the package
import math

# returns the power x**y
print(math.pow(2, 3))
print(2**3.0)

8.0
8.0

In [48]:
# returns the square root of x
math.sqrt(4)

2.0

In [49]:
# returns the result of e raised to the power x
print(math.exp(2))
print(math.e ** 2)

7.38905609893065
7.3890560989306495

In [50]:
# returns the logarithms to the given base 
print(math.log(7.389056, math.e)) #same as math.log(7.389056)
print(math.log(7.389056))

1.9999999866111924
1.9999999866111924

In [51]:
# not a number
math.nan

nan

In [52]:
# infinity
math.inf

inf

<hr>

## logical operators

In [53]:
x1 = True
x2 = False

In [54]:
# returns True when argument is true; False otherwise
x1 and x2

False

In [55]:
# returns True when any argument is true; False otherwise
x1 or x2

True

In [56]:
# NOT
x1 and not x2

True

<hr>

## Dealing with strings

In [57]:
s = "Welcome to Python"
s

'Welcome to Python'

In [58]:
s.upper()

'WELCOME TO PYTHON'

In [59]:
s.lower()

'welcome to python'

In [60]:
s.find("Pyth")

11

In [61]:
s.replace("Python", "C#")

'Welcome to C#'

In [62]:
s + "  "

'Welcome to Python  '

In [63]:
(s + "  ").strip()

'Welcome to Python'

In [64]:
"Python" in s

True

In [65]:
"python" in s

False

In [66]:
s + " and C#"

'Welcome to Python and C#'

In [67]:
s == s

True

In [68]:
s < s

False

In [69]:
("Hello,"*3)

'Hello,Hello,Hello,'


## Exercise

check if the statement <code>language</code> is included in the statement <code>Python is a great LANGUAGE</code>

In [70]:
#write your answer

how to rewrite the code to avoid case sensitivity check

In [71]:
#write your answer

<hr>

## Compound Data Types
### List is a mutable sequence. to define a list, we use <code>list()</codde>

In [72]:
# creates an empty list
myList = list()

In [73]:
# checks on the type
type(myList)

list

In [74]:
# adds values to the list
myList.append(1)
myList.append(2)
myList.append(3)

myList

[1, 2, 3]

In [75]:
# deletes elements in the list
del(myList[2])

In [76]:
myList

[1, 2]

In [77]:
# extends the current list with another list
myList.extend([3, 4, 5])
myList

[1, 2, 3, 4, 5]

In [78]:
myList.append([-1, -1])
myList

[1, 2, 3, 4, 5, [-1, -1]]

In [79]:
# same result as of extend
myList + [9, 10, 11]

[1, 2, 3, 4, 5, [-1, -1], 9, 10, 11]

In [80]:
# pops the last element and deletes it
myList.pop()

[-1, -1]

In [81]:
myList

[1, 2, 3, 4, 5]

In [82]:
# inserts insert(index, object)
myList.insert(0, -1)
myList

[-1, 1, 2, 3, 4, 5]

In [83]:
# sorts the list in ascending order
myList.sort()
myList

[-1, 1, 2, 3, 4, 5]

In [84]:
# sorts the list in decending order
myList.sort(reverse=True)
myList

[5, 4, 3, 2, 1, -1]

In [85]:
# retrieves a specific element using index
myList[2]

3

In [86]:
# slicing from beginning until the last element (excluded)
myList[:-1]

[5, 4, 3, 2, 1]

In [87]:
# slicing starting from index of 1 until 2
myList[1:2]

[4]

In [88]:
myList[2:]

[3, 2, 1, -1]

In [89]:
# gets the number of items in the list
len(myList)

6

In [90]:
# gets the total values after summing up all elements together
sum(myList)

14

In [91]:
# returns the number of occurance of a value
myList.count(4)

1

In [92]:
# returns the first index of a value
myList.index(4)

1

<br>

## Exercise: iterate over all the items of the list using <code>for-loop</code> function

In [93]:
# write your answer

5
4
3
2
1
-1

<hr>

## Dictionary
to create a dictionary, you use <code>dict()</code> class

In [94]:
# creates an empty dictionary
dic = dict()
dic

{}

In [ ]:
dic[0] = "Item 0"
dic[1] = "Item 1"
dic[2] = "Item 2"
dic[-1] = "Item -1"

dic

{0: 'Item 0', 1: 'Item 1', 2: 'Item 2', -1: 'Item -1'}

In [ ]:
# returns keys of dictionary
dic.keys()

dict_keys([0, 1, 2, -1])

In [ ]:
# returns the values of the dictionary
dic.values()

dict_values(['Item 0', 'Item 1', 'Item 2', 'Item -1'])

In [ ]:
# gets the length of the dictionary
len(dic)

4

In [ ]:
# deletes an element in the dictionary
del(dic[-1])
dic

{0: 'Item 0', 1: 'Item 1', 2: 'Item 2'}

In [ ]:
sorted(dic)

[0, 1, 2]

<br>

### Exercise
iterate over all the key-value pairs in the <code>dic</code> dictionary, and print them out using <code>for-loop</code>

In [ ]:
# write your answer

Key: 0, Val: Item 0
Key: 1, Val: Item 1
Key: 2, Val: Item 2

<br>
Create a dictionary <code>myDic</code> based on the two following lists <code>key_list</code> and <code>val_list</code>. Hint: you need to use the class <code>zip</code> (Return a zip object whose .__next__() method returns a tuple where the i-th element comes from the i-th iterable argument)

In [ ]:
key_list = list([1, 2, 3, 4, 5])
val_list = list(["One", "Two", "Three", "Four", "Five"])

# write your answer
myDic = dict(zip(key_list, val_list))
myDic

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

<hr>

## Tuple: immutable sequence, unlike list

In [ ]:
# creates a tuple
t = (1, 2, 3)
t

(1, 2, 3)

In [ ]:
# gets the type of t
type(t)

tuple

In [ ]:
PRKtuple = ("PRK", "Perak", "Ipoh")
PRKtuple

('PRK', 'Perak', 'Ipoh')

In [ ]:
PNGtuple = ("PNG", "Penang", "Goerge Town")
PNGtuple

('PNG', 'Penang', 'Goerge Town')

In [ ]:
states = [PRKtuple, PNGtuple]
states

[('PRK', 'Perak', 'Ipoh'), ('PNG', 'Penang', 'Goerge Town')]

<br>

## Exercise: print the state names only

In [ ]:
# write your answer here

Perak
Penang

In [ ]:
sorted(states)

[('PNG', 'Penang', 'Goerge Town'), ('PRK', 'Perak', 'Ipoh')]

<br>

### sort the states based on the capital name

In [ ]:
states.sort(key=lambda s: s[2])
states

[('PNG', 'Penang', 'Goerge Town'), ('PRK', 'Perak', 'Ipoh')]

<hr>

## Flow Control

Python is pretty much similar to other programming languages like C# which enables you to control the flow of the execution. Some of these statements that provides flow control are if, for, and while statements

#### *if-statement*

In [ ]:
# using if-statment

b = bool(1)

if b == True:
    print("b is True")
else:
    print("b is False")

b is True

In [ ]:
# using if-else-statement

x = list(range(1, 11, 1))

if 0 in x:
    print("the range includes 1")
elif set([1,2,3]).issubset(x):
    print("x includes [1,2,3]")
else:
    print("x includes:", x)

x includes [1,2,3]

<br>

## Exercise

Assume we have two lists <code>l1=[2, 4, 6], l2=[2, 4]</code> apply <code>if-statement</code> to check which list is subset of the other

In [ ]:
# write you code here

<br>

#### *for-loop*

In [ ]:
# using for-loop

x = range(1, 51)

for item in x:
    if (item % 2 == 0):
        print(item)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

<br>

### Exercise

apply for-loop to write python code that print out each word of the following sentence is a separate line. Sentense: "Machine Learning is an important subject nowadays"

In [ ]:
# write your answer here

## Prepared by

#### Abdulkarim M. Jamal Kanaan